#kaocha/v1
 {:plugins [:kaocha.plugin/hooks
            :kaocha.plugin/junit-xml
            :kaocha.plugin/profiling
            :kaocha.plugin/randomize]

  :reporter kaocha.report/documentation

  :kaocha.plugin.junit-xml/target-file      "junit.xml"
  :kaocha.plugin.junit-xml/omit-system-out? true

  :tests [{:id                  :unit
           :kaocha.hooks/before [web.test.hooks/pre-suite]}]}
